/* hide the tabs unless tab buttons selected */
.sheet-stats, .sheet-details {
	display: none;
}

/* show the selected tab and structuring of grids */
.sheet-tabstoggle[value="stats"] ~ div.sheet-stats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr fit-content()
		fit-content() fit-content() 2fr fit-content() fit-content() fit-content() fit-content()
		2fr fit-content() 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
	background-color: #455b7b;
}

.sheet-tabstoggle[value="details"] ~ div.sheet-details {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 3fr 16fr;
	background-color: #455b7b;
}

/* laying out the grid elements on the first tab */

.sheet-heroname { grid-area: 1/1/2/3; }

.sheet-heroname_query { grid-area: 1/3/2/7; }


.sheet-powerpoints { grid-area: 1/7/2/8; }

.sheet-ppcounter { grid-area: 1/8/2/9; }


.sheet-dicepool{ grid-area: 2/1/3/3; }

.sheet-d4roll { grid-area: 2/3/3/4; }

.sheet-d6roll { grid-area: 2/4/3/5; }

.sheet-d8roll { grid-area: 2/5/3/6; }

.sheet-d10roll { grid-area: 2/6/3/7; }

.sheet-d12roll { grid-area: 2/7/3/8; }

.sheet-poolbuttons { grid-area: 2/8/3/9; }


.sheet-affiliations { grid-area: 3/1/4/3; }

.sheet-solo { grid-area: 3/3/4/5; }

.sheet-buddy { grid-area: 3/5/4/7; }

.sheet-team { grid-area: 3/7/4/9; }

.sheet-d6affiliaton { grid-area: 4/4/5/5; }

.sheet-d8affiliation { grid-area: 4/5/5/6; }

.sheet-d10affiliation { grid-area: 4/6/5/7; }


.sheet-distinctions { grid-area: 5/1/6/3; }

.sheet-dis1 {	grid-area: 5/3/6/7; }

.sheet-dis2 { grid-area: 6/3/7/7; }

.sheet-d4distinction { grid-area: 6/7/7/8; }

.sheet-d8distinction { grid-area: 6/8/7/9; }

.sheet-dis3 { grid-area: 7/3/8/7; }


.sheet-stress { grid-area: 8/1/9/3; }

.sheet-pstress { grid-area: 8/3/9/5; }

.sheet-mstress { grid-area: 8/5/9/7; }

.sheet-estress { grid-area: 8/7/9/9; }


.sheet-trauma { grid-area: 9/1/10/3; }

.sheet-ptrauma { grid-area: 9/3/10/5; }

.sheet-mtrauma { grid-area: 9/5/10/7; }

.sheet-etrauma { grid-area: 9/7/10/9; }


.sheet-powersets { grid-area: 10/3/11/7; }

.sheet-psname1 { grid-area: 11/2/12/4; }

.sheet-levelpower1 { grid-area: 12/1/13/8; }

.sheet-powerbutton1 { grid-area: 12/8/13/9; }

.sheet-sfx1 { grid-area: 13/1/14/9; }

.sheet-limit1	{ grid-area: 14/1/15/9; }

.sheet-psname2 { grid-area: 15/2/16/4; }

.sheet-levelpower2 { grid-area: 16/1/17/8; }

.sheet-powerbutton2 { grid-area: 16/8/17/9; }

.sheet-sfx2 { grid-area: 17/1/18/9; }

.sheet-limit2 { grid-area: 18/1/19/9; }


.sheet-specialties { grid-area: 19/1/20/3; }

.sheet-specrating { grid-area: 19/3/20/8; }

.sheet-specdice { grid-area: 19/8/20/9; }


.sheet-push { grid-area: 20/1/21/3; }

.sheet-pushdice { grid-area: 20/3/21/5; }

.sheet-stunt { grid-area: 20/5/21/7; }

.sheet-stuntdice { grid-area: 20/7/21/9; }


.sheet-resources { grid-area: 21/1/22/3; }

.sheet-resourcenames { grid-area: 21/3/22/8; }

.sheet-resourcebuttons { grid-area: 21/8/22/9; }


.sheet-milestones { grid-area: 22/3/23/7; }

.sheet-msname1 { grid-area: 23/2/24/4; }

.sheet-1xpbutton1 { grid-area: 24/1/25/2; }

.sheet-trigger11 { grid-area: 24/2/25/9; }

.sheet-3xpbutton1 { grid-area: 25/1/26/2; }

.sheet-trigger13 { grid-area: 25/2/26/9; }

.sheet-10xpbutton1 { grid-area: 26/1/27/2; }

.sheet-trigger110 { grid-area: 26/2/27/9; }

.sheet-msname2 { grid-area: 27/2/28/4; }

.sheet-1xpbutton2 { grid-area: 28/1/29/2; }

.sheet-trigger21 { grid-area: 28/2/29/9; }

.sheet-3xpbutton2 { grid-area: 29/1/30/2; }

.sheet-trigger23 { grid-area: 29/2/30/9; }

.sheet-10xpbutton2 { grid-area: 30/1/31/2; }

.sheet-trigger210 { grid-area: 30/2/31/9; }


.sheet-xp { grid-area: 31/5/32/7; }

.sheet-xpcounter { grid-area: 31/7/32/8; }

.sheet-buypp { grid-area: 31/8/32/9; }


/* laying out the grid elements on the second tab */

.sheet-secretpublic { grid-area: 1/1/2/2; }

.sheet-identity { grid-area: 1/2/2/3; }

.sheet-history { grid-area: 2/1/3/3; }

.sheet-personality  { grid-area: 2/3/3/4; }

/* text and other styling */

input.sheet-name {
  margin: 2px;
  width: 15em;
	text-transform: uppercase;
  font-family: Contrail One;
	font-weight: bolder;
  font-size: 18px;
  appearance: none;
  border-radius: none;
  border-width: 7px;
	background-color: #173f61;
	color: white;
}

input.sheet-sub_name {
  margin: 2px;
  width: 12em;
	text-transform: uppercase;
  font-family: Contrail One;
  font-size: 14px;
  appearance: none;
  border-radius: none;
  border-width: 4px;
	background-color: #001e3b;
	color: white;
}

input.sheet-description {
	margin: 1px;
	width: 25em;
	font-size: 12px;
	background-color: #002447;
	color: white;
}

select {
	width: 175px;
	background-color: yellow;
}

select.sheet-small {
	width: 85px;
	background-color: inherit;
}

select.sheet-medium {
	width: 140px;
	background-color: inherit;
}

h1, p {
	font-family: Contrail One;
	color: white;
}

h2 {
	font-size: 16px;
	font-family: Contrail One;
}

button {
	font-family: Contrail One;
	background-color: yellow;
	color: black;
}
