html {
  background-color: #455E86;
}

body {
  width: 600px;
  border: 2px solid black;
  align-items: center;
  background-image: 
}

h1 {
  text-align: center;
  background-color: #FFFFFF;
}

h2 {
  text-align: left;
  background-color: #324561;
}

h3, h4, h5, p, ul {
  text-align: center;
  background-color: #253347;
}
